.Navbar {
    width: 100vw;
    height: 80px;
    background-color: rgb(78, 42, 42);
    display: flex;
    align-items: center;
}
/* COLOR PALETTE COLORS */
/* .colorPalette {
    background-color: rgb(78, 42, 42);
    background-color: rgb(223, 216, 85);
} */
/* END OF COLOR PALETTE COLORS */

.Navbar a {
    height: 28px;
    line-height: 28px;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out background-color;
}

.Navbar .active {
    color: #000000;
    border: 2px inset rgb(221, 230, 237);
    background-color: rgb(216, 216, 216);
}

.Navbar a:hover {
    background-color: rgb(223, 216, 85);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
  
.Navbar-left-links {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30vw;
}

.Navbar-left-links span {
    width: 20vw;
    margin-left: 30px;
    color: rgb(255, 255, 255);
}
  
.Navbar-right-links {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: 70vw;
}

@media only screen and (max-width: 1268px) and (min-width: 726px) {
    .Navbar-right-links {
        display: flex;
        justify-content: right;
        width: 70vw;
    }
}

@media only screen and (max-width: 725px) and (min-width: 200px) {
    .Navbar {
        display: block;
        width: 100vw;
        height: 80px;
        background-color: rgb(39, 55, 77);
    }
    
    .Navbar-left-links {
        flex-direction: column;
        width: 100vw;
        margin: 0px auto;
    }
      
    .Navbar-left-links span {
        display: block;
        width: 100vw;
        margin-left: 0px;
        color: rgb(255, 255, 255);
    }
      
    .Navbar-right-links {
        width: 100vw;
        flex-direction: column;
    }
}