.RecipeDetailsII {
  display: block;
  width: 100%;
  height: 100%;
}

.RecipeDetailsII-msg {
  display: block;
  width: 180px;
  height: 76px;
  margin: 0px auto;
}

.RecipeDetailsII-icons-float {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RecipeDetailsII-icons {
  margin: 10px 10px;
  font-size: 30px;
  transition: .5s ease-in-out background-color;
}

.RecipeDetailsII-icons:hover {
  color: rgb(150, 160, 167);
}

.RecipeDetailsII-h1 {
  width: 100%;
  font-size: 60px;
  margin-bottom: 70px;
}

.RecipeDetailsII-div img {
  width: 100%;
  border-radius: 10px;
}

.RecipeDetailsII-div {
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: 0px auto 140px auto;
  padding: 30px 30px;
  box-sizing: content-box;
  border-radius: 10px;
  background-color: rgba(188, 191, 211, 0.233);
}

.RecipeDetailsII-float-div {
  display: block;
  float: left;
  width: 40%;
}

.RecipeDetailsII-float-div-full {
  display: block;
  float: left;
  width: 50%;
}

.RecipeDetailsII-float-img-div {
  float: left;
  width: 60%;
}

.RecipeDetailsII-float-ul-div {
  float: left;
  width: 50%;
}

.RecipeDetailsII-float-steps-div {
  float: left;
  width: 50%;
}

.RecipeDetailsII-no-float-div {
  display: block;
  width: 70%;
  height: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: 0px auto 70px auto;
  border-radius: 10px;
  background-color: rgba(188, 191, 211, 0.233);
}

.RecipeDetailsII-subtitle {
  text-align: center;
  display: block;
  font-size: 26px;
  margin: 0px auto -10px auto;
}

.RecipeDetailsII-p {
  display: block;
  width: 90%;
  margin: 10px auto 20px auto;
  text-align: left;
}

.RecipeDetailsII-short-text {
  display: block;
  width: 90%;
  margin: 10px auto 20px auto;
  text-align: center;
}

.RecipeDetailsII-short-text:link {
  display: block;
  width: 90%;
  margin: 10px auto 20px auto;
  text-align: center;
  text-decoration: none;
}

.RecipeDetailsII-ul {
  list-style: circle;
  width: 100%;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}

.RecipeDetailsII-ul li {
  text-align: left;
  margin-bottom: 10px;
}

/* FORM STYLES */
.RecipeDetailsII form {
  margin-top: 17px;
}

@media only screen and (max-width: 1302px) and (min-width: 400px) {
  .RecipeDetailsII-float-div {
    display: block;
    float: none;
    width: 100%;
    margin-top: 40px;
  }

  .RecipeDetailsII-float-div-full {
    display: block;
    float: none;
    width: 100%;
    margin-top: 40px;
  }
  
  .RecipeDetailsII-float-img-div {
    float: none;
    width: 100%;
  }
  
  .RecipeDetailsII-float-ul-div {
    float: none;
    display: block;
    width: 90%;
    margin: 0px auto;
  }
  
  .RecipeDetailsII-float-steps-div {
    float: none;
    width: 100%;
    margin-top: 40px;
  }
}